/*utilities*/
/*normalize*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

li {
  list-style-type: none; }

a {
  color: #82b3ae;
  text-decoration: none; }

body {
  background-color: #05050e; }

.h4 {
  font-size: 3rem;
  color: #82b3ae;
  text-align: center;
  padding: 80px 0 40px 0; }

@media screen and (max-width: 480px) {
  .h4 {
    padding: 40px 0 20px 0; } }

/*general*/
.navbar {
  background-color: #121337 !important;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28130, 179, 174, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }
  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #82b3ae;
    font-size: 1.2rem; }
    .navbar .navbar-brand:hover,
    .navbar .nav-link:hover {
      color: white; }

.navbar-toggler:focus {
  box-shadow: none; }

.boton_nav {
  background-color: #05050e; }

@media screen and (min-width: 992px) {
  .navbar-brand,
  .nav-link {
    color: #82b3ae;
    font-size: 1.2rem; }
    .navbar-brand:hover,
    .nav-link:hover {
      color: white;
      animation-name: zoomletter;
      animation-duration: .5s;
      animation-fill-mode: forwards; } }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: #121337;
  color: #82b3ae;
  margin-top: 30px; }
  footer p {
    margin: 0; }

.absoluto {
  position: absolute;
  bottom: 0; }

/*Layout*/
.container_img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 20px 0; }
  .container_img img {
    border-radius: 200px;
    width: 250px; }

.index_contacto {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
  color: #82b3ae;
  flex-direction: column; }
  .index_contacto p {
    margin: auto 0 auto 10px; }
  .index_contacto a {
    width: 100%;
    display: flex; }
    .index_contacto a:hover {
      color: white; }
  .index_contacto li {
    display: flex;
    margin: 20px 0; }

h1, h2 {
  text-align: center;
  color: white;
  padding: 5px; }

@media screen and (max-width: 480px) {
  .index_contacto {
    width: 95%; }
    .index_contacto ul {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      flex-direction: column; }
      .index_contacto ul li {
        margin: 10px 0; } }

.grid_container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto minmax(300px, 800px) auto;
  grid-template-areas: '. info .' '. skills .';
  color: white; }

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: info;
  margin: auto;
  padding: 80px 0 50px 0; }
  .description h4 {
    font-size: 3rem;
    color: #82b3ae; }

.skills {
  grid-area: skills; }
  .skills h5 {
    text-align: center;
    font-size: 2rem;
    color: #82b3ae; }
  .skills h6 {
    color: #82b3ae; }
  .skills i {
    margin: 0 5px 0 0; }
  .skills p {
    margin-left: 5px; }

@media screen and (max-width: 720px) {
  .description h4 {
    font-size: 2rem; }
  .description p {
    margin: 0 15px;
    text-align: center; } }

.form_container {
  grid-area: skills;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .form_container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px; }
    .form_container form p {
      width: 100%; }
      .form_container form p label, .form_container form p input {
        width: 100%;
        color: #82b3ae; }
      .form_container form p input {
        background-color: #121337;
        outline: none;
        border: none;
        padding: 5px; }

.login {
  height: 85vh; }

.galeria_proyecto {
  display: flex;
  justify-content: center;
  align-items: center; }

.description_container h5 {
  color: #82b3ae;
  font-size: 1.5rem; }

.description_container p {
  color: white; }

.fa-arrow-left, .fa-arrow-right {
  color: #121337; }

@media screen and (min-width: 1024px) {
  .galeria_proyecto {
    flex-direction: row;
    margin: 0; }
  .carousel_container {
    width: 65%;
    max-width: 1015px;
    margin: 0 20px; }
    .carousel_container img {
      object-fit: contain;
      height: 700px; }
  .description_container {
    width: 30%;
    max-width: 500px; } }

@media screen and (max-width: 1023px) {
  .galeria_proyecto {
    flex-direction: column-reverse; }
  .carousel_container {
    width: 100%;
    margin: 0; }
  .description_container {
    width: 90%; }
    .description_container .description_container__cards_info {
      display: flex;
      justify-content: center;
      flex-direction: column; } }

/*components*/
@keyframes zoomletter {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.04); } }

.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  margin: 50px 0; }
  .card_container .card_knowledge {
    width: 40%;
    border: 10px solid #121337;
    background-color: #0e0e29;
    border-radius: 10px;
    margin-bottom: 30px;
    min-height: 200px; }
    .card_container .card_knowledge h6 {
      font-size: 1.2rem;
      padding: 10px 0 20px 0; }

@media screen and (max-width: 599px) {
  .card_container {
    margin: 10px; }
    .card_container .card_knowledge {
      width: 100%; } }

.card_project {
  width: 30%;
  border: 5px solid #121337;
  color: #82b3ae;
  border-radius: 20px;
  background-color: #090a1c;
  min-width: 330px;
  max-width: 400px;
  margin: 20px; }
  .card_project img {
    width: 100%;
    border-radius: 14px; }
  .card_project .text {
    min-height: 165px; }
    .card_project .text h6 {
      text-align: center;
      font-size: 1.5rem;
      padding: 20px 5px 0 5px; }
    .card_project .text p {
      font-size: 1rem;
      padding: 10px 5px 0 5px; }
  .card_project .button_container {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center; }
    .card_project .button_container a {
      display: flex;
      justify-content: center;
      align-items: center; }
  .card_project i {
    font-size: 20px;
    padding-right: 5px; }

.corousel_container {
  min-height: 250px; }

@media screen and (max-width: 780px) {
  .card_project {
    width: 70%;
    min-width: 360px; } }

@media screen and (max-width: 480px) {
  .card_project {
    min-width: 300px;
    width: 90%; }
    .card_project .button_container {
      flex-direction: column; }
      .card_project .button_container .card_project__button, .card_project .button_container .boton {
        margin: 10px 0;
        min-width: 120px; } }

.card_project__button, .boton {
  background-color: #121337;
  border: none;
  width: 40%;
  padding: 10px 5px;
  border-radius: 10px; }
  .card_project__button:hover, .boton:hover {
    background-color: #0e0e29;
    color: white; }
  .card_project__button:active, .boton:active {
    background-color: #121337; }
  .card_project__button:hover a, .boton:hover a {
    color: white; }

.boton_info {
  font-size: 1.5rem;
  margin-top: 15px;
  justify-content: center; }
  .boton_info::after {
    content: '/>'; }
  .boton_info::before {
    content: '<'; }

.button_container {
  display: flex;
  justify-content: center; }
  .button_container a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 5px; }
    .button_container a i {
      margin-right: 5px; }

.boton {
  color: #82b3ae; }

@media screen and (min-width: 1024px) {
  .boton_info {
    font-size: 2rem; }
    .boton_info:hover {
      animation-name: zoomletter;
      animation-fill-mode: forwards;
      animation-duration: .5s; } }
