.navbar {
    background-color: $primary !important;


    .navbar-brand,
    .nav-link {
        color: $letter_light;
    }

    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28130, 179, 174, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

}

.navbar-toggler {



    &:focus {
        box-shadow: none;
    }

}

.boton_nav {
    background-color: $quaternary;
}