{%extends 'App/base.html'%}
{%load static%}
{%block titulo%}
<title>Pablo Candia - Projects</title>
{%endblock%}
{%block main%}
<section>
    <h4 class="h4">
        My projects
    </h4>
    <div class="card_container">
        {%for i in object_list%}
        <div class="card_project">
            <div class="corousel_container">
                    {%for portada in portadas%}
                        {%if portada.project_id == i.pk%}
                        <img src="{{portada.image.url}}" alt="">
                        {%endif%}

                    {%endfor%}
            </div>
            <div class="text">
                <h6>{{i.name}}</h6>
                <p>{{i.description}}</p>
                <p>{{i.used_tools}}</p>
            </div>
            <div class="button_container">
                    <a href="{%url 'project_detail' i.pk%}" class="card_project__button"><i class="fa-solid fa-info"></i>More info</a>
            </div>
        </div>
        {%endfor%}
        
    </div>
</section>
{%endblock%}