.container_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:40px 0 20px 0;

    img {
        border-radius: 200px;
        width: 250px;
    }
}

.index_contacto {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: $letter_light;

    p {
        margin: auto 10px;
    }

    a {
        width: 100%;
        display: flex;
    }

    li {
        display: flex;
        margin: 20px 0;
    }
}

h1, h2 {
    text-align: center;
    color: white;
    padding: 5px
}